@import "../component/kefu.css";
header{
	width:100%;
}
header nav{
	width:100%;
	height: 1.04rem;
	background: #eee;
	display: flex;
}
nav div{
	flex-grow:1;
	height: 100%;
	border-right: 1px solid #ccc;
	text-align: center;
	line-height: 1.04rem;
	box-sizing: border-box; 
}
nav div a{
	color: #000;
	font-size: .23rem;
	text-decoration: none;
}
.back{
	background: #dcdcdc;
}
.hd_img{
	width: 100%;
	height: 2.56rem;
}
.kefu{
	width: 100%;
	height: 1.28rem;
	border-bottom: 1px solid #c1c1c1;
	box-sizing: border-box;
	display: flex;
}
.kefu_dian{
	width: 2rem;
	height: 100%;
	display: flex;
	justify-content: center;
}
.kefu_dian div{
	display: inline-block;
	width: .16rem;
	height: .16rem;
	margin-top: .57rem;
	border-radius: 50%;
	background: #d5eed9;
}
.kefu_dian div:nth-child(2){
	margin: .57rem .3rem 0 ;
}
.kefu_center{
	width: 2.4rem;
	display: flex;
}
.kefu_img{
	width: .77rem;
	padding-top: .26rem;
	margin-right: .2rem;
}
.kefu_img img{
	display: block;
	width: .77rem;
	height: .77rem;
	border-radius: 50%;
}
.kefu_text{
	padding-top: .34rem;
}
.kefu_text p{
	font-size: .2rem;
	color: #595959;
	margin-bottom: .06rem;
}
.kefu_text button{
	height: .31rem;
	padding: 0 .12rem;
	background: #2baa3f;
	color: #fff;
	border-radius: 4px;
}
#zhibo,#zhibo2{
    margin-bottom: 200px;
	width:100%;
	padding: 0 .3rem;
	box-sizing: border-box;
}
#zhibo h4,#zhibo2 h4{
	width: 100%;
	height: 1.04rem;
	line-height: 1.0rem;
	text-align: center;
	color: #2baa3f;
	font-size: .26rem;
	font-weight: 500;
	position: relative;
}
#zhibo h4:after,#zhibo2 h4:after{
	content: "";
	width: 2.18rem;
	height: 2px;
	background: #e5e5e5;
	position: absolute;
	right: 0;
	top: .51rem;
}
#zhibo h4:before,#zhibo2 h4:before{
	content: "";
	width: 2.18rem;
	height: 2px;
	background: #e5e5e5;
	position: absolute;
	left: 0;
	top: .51rem;
}
#zhibo table,#zhibo2 table{
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-collapse:collapse;
}
#zhibo table,#zhibo2 table,table>thead,table>tbody,table>tbody>tr{
	width: 100%;
	font-size: .18rem;
}
table>thead>tr{
	background: #eee;
}
table>thead>tr>th{
	padding: .1rem 0;
	font-weight: 500;
	color: #2baa3f;
	border-bottom: 1px solid #e5e5e5;
}
table>tbody>tr>td{
	padding: .1rem 0;
	font-weight: 500;
	color: #595959;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
}
table>tbody>tr>td:first-child{
	border-right: 1px solid #e5e5e5;
	box-sizing: border-box;
}
table>tbody>tr:last-child>td{
	border-bottom: none;
}
.zhibo{

	margin-bottom: .5rem;
}
.zhibo p{
	max-height: 9999px;
	font-size: .18rem;
	color: #232323;
	text-align:justify;
}
footer{
    position: fixed;left: 0;right: 0;bottom: 0;
	width: 100%;
}
.submit{
	width: 100%;
	height: .73rem;
	font-size: .31rem;
	text-align: center;
	line-height: .73rem;
}



#monthly{
    margin-bottom: 200px;
	width: 100%;
}
.monthly1 h4,.monthly2 h4{
	height: .7rem;
	margin-top: .1rem;
	padding-left: .4rem;
	border-bottom: 1px solid #f4f4f4;
	box-sizing: border-box;
	font-size: .25rem;
	color: #416565;
	line-height: .7rem;
}
.monthly1 .text1{
	width: 100%;
	height: 1.02rem;
	padding-left: .46rem;
	border-bottom: 1px solid #f4f4f4;
	line-height: 1.02rem;
	box-sizing: border-box;
}
.monthly1 .text1 p{
	font-size: .5rem;
	color: #fc6d0e;
}
.monthly1 .text1 p:before{
	content: "￥";
	font-size: .36rem;
}
.monthly1 .text2{
	width: 100%;
	height: .48rem;
	padding-left: .46rem;
	line-height: .48rem;
	box-sizing: border-box;
}
.monthly1 .text2 p{
	font-size: .16rem;
	color: #595959;
}
.monthly2{
	margin-bottom: 1.2rem;
}
.monthly2 h4{
	margin-bottom: .15rem;
}
.monthly2>p{
	width: 100%;
	height: .3rem;
	padding-left: .46rem;
	line-height: .3rem;
	box-sizing: border-box;
}
.monthly2>p a{
	color: #595959;
}