header{
	height: 2.9rem;
	padding-top: .6rem;
	background: #ff6f02;
	box-sizing: border-box;
}
header>h2{
	font-size: .58rem;
	font-weight: 500;
}
header>div{
	width: 1.5rem;
	height: .35rem;
	margin: .45rem auto;
	border: 1px solid #fff;
	font-size: .19rem;
	line-height: .35rem;
	border-radius: 4px;
	position: relative;
}
header>div>span{
	padding-left: .2rem;
}
header>div>span:before{
	content: "";
	display: block;
	width: .3rem;
	height: .35rem;
	position: absolute;
	left: .35rem;
	background: url('../images/icon-recharge.png')no-repeat center;
	box-sizing: border-box;
}
section{
	width: 100%;
	padding:.15rem .3rem 0;
	box-sizing: border-box;
}
section .title{
	padding: .2rem 0;
	background: url('../images/icon-xia.png')no-repeat right;
	border-bottom: 3px solid #d2d2d2;
	box-sizing: border-box;
}
section .list{
	width: 100%;
	height: .98rem;
	border-bottom: 1px solid #d2d2d2;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
section .list>div{
	width: 40%;
	height: 100%;
}
section .list .left{
	padding-top: .25rem;
	box-sizing: border-box;
}
section .list .left h2{
	font-size: .25rem;
	font-weight: 500;
}
section .list .left p{
	font-size: .18rem;
}
section .list .right{
	padding-top: .35rem;
	box-sizing: border-box;
}
section .list .right p{
	font-size: .38rem;
	font-weight: 500;
	padding-right: .2rem;
}